/*
* ----------------------------------------------------------------------------------------
* 01.GLOBAL CSS STYLE
* 02.PRELOADER & BOUNCE CCS STYLE
* 03.HOMEPAGE CSS STYLE
    -LOGO CSS
    -MENU CSS
* 04.ABOUT CSS STYLE
* 05.SERVICE CSS STYLE
* 06.WORK CSS STYLE
* 07.AVAILABLE CSS STYLE
* 08.CONTACT CSS STYLE
* 09.FOOTER CSS STYLE
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* 01.GLOBAL STYLE
* ----------------------------------------------------------------------------------------
*/

@media( max-width: 992px) {
    .trans-navigation:not(.header-white) {
        background: #f4f8fb;
        width: 100%;
    }
}

.dropdown-item {
    padding: 5px 0;
    text-align: center;
}

.dropdown-menu.show {
    top: 55px !important;
    transform: none !important;
}

#positions .btn-group, #positions .btn-group-vertical {
    width: 100%;
    /*overflow: hidden;*/
}

#positions .btn-group > .btn:first-child {
    width: 100%;
}

#positions .line {
    background: #fff;
}

.site-privacy {
    margin-top: 160px;
    margin-bottom: 160px;
}

.site-privacy p {
    text-align: left;
}

div .btn-circled {
    border-radius: 12px;
}

body {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    font-family: 'Rubik', sans-serif;
    color: #232323;
    position: relative;
}

p {
    line-height: 28px;
    color: #404040;
    font-size: 14px;
	font-weight: 400;
	text-align: center;
	}

html {
    overflow-x: hidden !important;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    border: 0;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    margin-bottom: 0px;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    color: #000;
}

img {
    max-width: 100%;
}

a:hover {
    color: #635CDB;
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.no-padding {
    padding: 0
}

.flaticon {
    display: inline
}



h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 18px;
	color: #404040;
}

h4 {
    font-size: 22px;
    line-height: 32px;
}

h5 {
    font-size: 36px;
    line-height: 24px;
	color:#44628d;
}

h6 {
    font-size: 16px;
    line-height: 26px;
}


.f-color {
    color: #635CDB;
}


.mb30 {
    margin-bottom: 30px;
}


.section-heading {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
	
}

.section-title {
    font-size: 32px;
    line-height: 38px;
    text-transform: capitalize;
	padding-top: 10px;
	color: #44628d;
}

.section-title span {
    color: #635CDB;
}



.line {
    width: 50px;
    background: #3c5782;
    height: 1px;
    margin: 10px auto;
}




/*---------- BUTTONS ----------*/

.btn {
    font: 600 10.5px/1;
    display: inline-block;
    padding: 15px 45px 15px 45px;
    text-transform: uppercase;
    border: 2px solid transparent;
    -webkit-transition: all .2s;
    transition: all .2s;
    border-radius: 0px;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
}

.btn:focus,
.btn:active,
.btn:active:focus {
    outline: none;
    box-shadow: none;
}

.btn-hero,
div .btn-white {
    background: #3c5782f2;
    border: 1px solid #466590;
    color: #f7f7f7;
    transition: .4s;
    -webkit-transition: .4s;
}

.btn-hero:hover,
div .btn-white:hover {
    background: #466590;
    color: #fff;
}

.btn-hero:focus {
    color: #fff !Important;
}


.btn-black:hover {
    color: #fff;
    background: #635CDB;
}

.btn-black:focus {
    color: #fff;
}

.btn-white {
    background-color: #f99d23;
    color: rgba(0, 0, 0, .85);
    border-color: rgba(255, 255, 255, .12);
}

.btn-white:focus {
    color: #000;
}

.btn-white:active {
    color: #fff;
}

.btn-trans-black {
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, .15);
    color: rgba(0, 0, 0, .85);
}

.btn-trans-black:hover {
    color: rgba(255, 255, 255, 1);
    background-color: #000;
}

.btn-trans-white {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .15);
    color: rgba(255, 255, 255, .95);
}

.btn-trans-white:hover {
    background-color: rgba(255, 255, 255, .95);
    color: rgba(0, 0, 0, .85);
    border-color: rgba(255, 255, 255, .12);
}

.btn-trans-white:active,
.btn-trans-white:focus {
    color: #fff;
    background-color: transparent;
    border-color: rgba(255, 255, 255, .12);
}

.btn-rounded {
    border-radius: 2px;
}

.btn-circled {
    border-radius: 40px;
}


.btn-trans-black:hover {
    background: #635CDB !important;
}

.btn-positions {
    display: inline-block;
    padding: 15px;
    border: 2px solid transparent;
    -webkit-transition: all .2s;
    transition: all .2s;
    border-radius: 0px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.5px;
}
.btn-positions:hover {
    border-bottom: 2px solid #f99d23; 
}

.btn-secondary {
    border: 1px solid #133367;
    color: #3c5782!important;
    background-color: #fff!important;
    border-radius: 12px!important;
    padding: 15px 30px 15px 35px!important;
}
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle,
.btn-secondary:hover {
    color: #fff!important;
    background-color: #3c5782!important;
    border-color: #fff!important;
}
/*---------- COLORS ----------*/

/*-- Background Colors --*/

.bg-black {
    background-color: #000;
}

.bg-dark {
    background-color: rgba(0, 0, 0, .96);
}

.bg-feature {
    background-color: #405d88;
}

.bg-primary {
    background-color: #0db8ca;
}

.bg-gray {
    background-color: #f2f4ec;
}

.bg-white {
    background-color: #fff;
}


.d-table {
    width: 100%;
}


.d-table-cell {
    vertical-align: middle;
}


.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
   
}

.brown-overlay {
    background: #222955;
    opacity: .97;
}

.feature-overlay {
    background: #635CDB;
    opacity: .97;
}

.gr-overlay {
    background: linear-gradient(135deg, #2f1ce0 0%, #53a0fd 30%, #51eca5 100%);
    opacity: .87;
}


/*------------------------------------
  MENU NAVIGATION AREA
----------------------------------*/

.site-navigation,
.trans-navigation {
    padding: 20px 0px;
}

.site-navigation .navbar-nav a,
.trans-navigation .navbar-nav a {
    text-transform: uppercase;
}

.site-navigation .navbar-nav a.active,
.trans-navigation .navbar-nav a.active {
    color: red;
}

.navbar-nav li:before { display: none;}
.header-white {
    position: fixed;
    top: 0px;
    background: #111;
    z-index: 9999;
    width: 100%;
    left: 0;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    color: #000 !important;
}

.navbar-expand-lg.trans-navigation .navbar-nav .nav-link,
.navbar-expand-lg.site-navigation .navbar-nav .nav-link {
    padding: 0px 24px;
}

.navbar-expand-lg.trans-navigation .navbar-nav .nav-link:last-child,
.navbar-expand-lg.site-navigation .navbar-nav .nav-link:last-child {
    padding-right: 0px;
}

.site-navigation,
.trans-navigation {
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}

.navbar-brand {
    padding-top: 0px;
    margin-right: 60px;
    font-weight: 700;
    text-transform: capitalize;
    color: #fff;
}

.navbar-brand span {
    font-weight: 400;
}


.navbar-expand-lg.trans-navigation .navbar-nav .nav-link {
    color: #3c5782;
}


.trans-navigation {
    background: transparent;
}


.trans-navigation.header-white {
    background: #f4f8fb;
}


.trans-navigation.header-white .navbar-nav a.active {
    color: #2c9af1;

}
.navbar-brand img {
    max-width: 100%;
    max-height: 100%;
}


.trans-navigation.header-white .btn-white {
    background: #635CDB;
    color: #fff;
}


/*------------------------------------
 BANNER AREA
----------------------------------*/

.banner-area .content-padding {
    padding: 250px 0px 180px;
}

.content-padding {
    padding: 180px 0px 80px;
}

.banner-content {
    padding-right: 30px;
}

.banner-content .btn {
    margin-top: 15px;
}


.banner-content .banner-title {
    color: #3c5782;
    font-weight: 700;
    line-height: 58px;
}



.banner-content p {
    margin: 20px 0px;
    color: #3c5782;
    font-size: 18px;
    line-height: 30px;
	text-align: left;
}



.banner-content .btn {
    margin-right: 12px;
}

.btn-sm {
    padding: 10px 30px;
}


.banner-1 {
    background: url("../img/banner/bg-2.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}

.banner-2 {
    background: url("../img/banner/slider-3.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}

.banner-3 {
    background: url("../img/banner/lemon.png");
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
	background-position: 85% 70%;
    background-size: inherit;
    background-repeat: no-repeat;
}



.section-heading h2 {
    margin-bottom: 20px;
    font-weight: 400;
}


/*-------------------- ------------
 INTRO SECTION
-----------------------------*/

#intro {
    padding-bottom: 0px;
     background: url("../img/banner/intro.jpg") fixed 50% 50%;
    position: relative;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 0px;
    padding-bottom: 0px;
}

.intro-img {
    margin-top: 45px;

}

#intro .section-heading p {
    color: #2196f3;
    font-size: 30px;
    line-height: 40px;
	padding-top: 45px;
	font-size: 32px;
    line-height: 38px;
    text-transform: capitalize;
	font-family: 'Rubik', sans-serif;
    font-weight: 700;
	margin-bottom: -10px;
}   
.intro bg-light {background-color:none; }

.intro-box {
    margin-top: 30px;
    position: relative;
    margin-bottom: 20px;
}

.intro-box h4:before {
    position: absolute;
    left: 0px;
    top: 17px;
    content: "";
    bottom: 0px;
    background: #000;
    width: 50px;
    height: 2px;
}

.intro-box h4 {
    text-transform: uppercase;
    margin-bottom: 15px;
    position: relative;
    padding-left: 60px;
}

.intro-box span {
    color: #2c9af1;
    font-size: 28px;
}
.introlists { 
      font-weight: bold; 
      padding: 0px;
}

.intro-cta{
    margin-top: 45px;
	margin-bottom: 45px;
}




/*--------------------------
  ABOUT SECTION
----------------------*/

.section-pt {
    padding-top: 90px;
}

.section-pb {
    padding-bottom: 90px;
}

#about {
    position: relative;
    padding-bottom: 85px;
}
#about .section-heading p {
    color: #2196f3;
    font-size: 30px;
    line-height: 40px;
	padding-top: 45px;
	font-size: 32px;
    line-height: 38px;
    text-transform: capitalize;
	font-family: 'Poppins', sans-serif;
    font-weight: 700;
	margin-bottom: -10px;
}
.about-content  p { 
text-align: justify;
}

.about-bg-img {
    position: absolute;
    right: 0px;
    content: "";
    background: url("../img/banner/1.png") 50% 50%;
    width: 40%;
    height: 100%;
    max-height: 560px;
    top: 0px;
	background-repeat: no-repeat;

}


.about-content {
    margin-top:94px;
}


.about-content h3 {
    margin-bottom: 25px;
	margin-top: 20px;
}

.about-list {
    margin-top: 30px;
}

.about-list li {
    width: 45%;
    float: left;
    margin-bottom: 10px;
    margin-right: 15px;
    color: #404040;
	font-weight: 400;
}

.about-list li i {
    color: #000;
    margin-right: 10px;
}


/*--------------------------
  SERVICE AREA SECTION
----------------------*/

#service-head {
    padding-bottom: 90px;
    padding-top: 50px;
}


.text-white p {
    color: #fff;
}

#service {
    margin-top: -75px;
    padding-bottom: 5px;
}

.service-box .service-img-icon {
    width: 100px;
    height: 100px;
    text-align: center;
    background: #fff;
    padding-top: 20px;
    margin: 0 auto;
    border-radius: 100%;
    margin-bottom: 20px;
    background: #F4F8FB;
    color: #fff;
}

.service-box {
    margin-bottom: 40px;
    text-align: center;
    padding: 45px 25px 30px 25px;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    border-radius: 5px;
}
.service p {
    text-align: justify;
}

.service-box:hover,
.service-box.active {
    background-color: #2195f2;
    -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
	color: #fff;
}

.service-box:hover p {
   	color: #fff; 
}

.service-box:hover span
{
   	color: #404040; 
}

.service-inner {
    margin-top: 30px;
}

.service-inner h4 {
    margin-bottom: 20px;
}

.service-inner span {
    color: #405d88;
}



/*------------------------------------
  TESTIMONIAL AREA SECTION
---------------------------------*/


.author-img img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 5px solid #ddd;
}

.author-info p {
    margin: 0px;
    font-size: 14px;
}

.carousel-indicators {
    bottom: 0px;
    margin-bottom: 0px;
}


.carousel-indicators li {
    background: #111;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-indicators li.active {
    background: #635CDB;
}


.testimonial-content {
    padding: 0px 40px;
    text-align: center;
    margin-bottom: 40px;
}

.testimonial-content .author-text {
    padding-top: 10px;
}

.testimonial-content .author-info {
    display: block;
    margin-bottom: 25px;
}

.testimonial-content p {
    font-size: 20px;
    line-height: 36px;
    color: #222;
    margin: 35px 0px;
    display: block;
}

.author-text h5 {
    text-transform: uppercase;
}

.author-text p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 36px;
    color: #404040;
    margin: 0px;
}

.testimonial-content p i {
    margin: 0px 8px;
}


/*------------------------------------


 COUNTER SECTION
-----------------------------*/

.counter {
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    line-height: 70px;
    margin: 10px 0px;
    color: #fff;
}

.counter-stat i {
    font-size: 40px;
    color: #fff;
    margin-right: 10px;
}

.counter-stat h5 {
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
	font-size:24px;
}

.counter-block span {
    font-size: 30px;
}


#counter .dark-overlay {
    background: #405d88;
    opacity: 0.95;
}

#counter {
    background: url("../img/banner/pattern-3.png") fixed 50% 50%;
    position: relative;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 87px;
    padding-bottom: 95px;
}
 /*--------------------------
office SECTION AREA
----------------------*/
.office {
	padding: 0 20% 0;
}

/*--------------------------
 CARRERS SECTION AREA
----------------------*/
#carrers{
    padding-bottom: 55px;
}

.carrer-bg-img {
    position: absolute;
    right: 0px;
    content: "";
    background: url("../img/banner/carrer.png") 50% 50%;
    width: 40%;
    height: 100%;
    max-height: 595px;

	background-repeat: no-repeat;

}

.blog-block {
    overflow: hidden;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

.blog-block img {
    margin-bottom: 0px;
}


.blog-text {
padding: 0px!important; }

.blog-text .author-name {
    font-weight: 400;
}

.blog-text .author-name span {
    margin-right: 10px;
    font-weight: 600;
}

.blog-block h5 {
    margin: 5px 0px 15px;
    position: relative;

}

.blog-block .read-more,
.blog-block span {
    color: #ed8904;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  padding-left: 1.3em;
}
li:before {
  content: "\efac"; /* FontAwesome Unicode */
  font-family: 'IcoFont' !important;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}



/*--------------------------
 CONTACT SECTION AREA
----------------------*/
#contact{
    padding-bottom: 100px;
}
.text-color {
    color: #ed8904;
}

.contact-form input[type=text],.contact-form input[type=email] {
    height: 50px;
}

.contact-form .form-control {
    border: 1px solid transparent;
    font-size: 15px;

}

.contact-form .form-control:hover,
.contact-form .form-control:focus {
    -webkit-box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
    box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
}

.input:focus {
    outline: none;
}


.form-control::-webkit-input-placeholder {
    color: #404040;
    opacity: .9;
    font-size: 13px;
    padding-left: 10px;
	
}

.form-control::-moz-placeholder {
    color: #404040;
    opacity: .9;
    font-size: 13px;
    padding-left: 10px;
}

.form-control:-ms-input-placeholder {
    color: #404040;
    opacity: .9;
    font-size: 13px;
    padding-left: 10px;
}

.form-control:-moz-placeholder {
    color: #404040;
    opacity: .9;
    font-size: 13px;
    padding-left: 10px;
}



/*--------------------------
 FOOTER
----------------------*/

#footer {
    padding-bottom: 30px;
    position: relative;
    background-color: #405d88;
  }

.footer-widget ul li {
    padding: 5px 0px;
}

.footer-widget p {
    margin-bottom: 5px;
}

.footer-widget h4 {
    margin-bottom: 20px;
}

.footer-widget h4 span {
    color: #635CDB;
    display: block;
    font-size: 60px;
    line-height: 60px;
}

.footer-blog li img {
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 20px;
}

.footer-blog li h5 {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 22px;
    text-transform: capitalize;
}

.footer-blog li a.read-more {
    font-size: 13px;
}

.footer-blog li {
    margin-bottom: 15px;
}

.footer-copy {
    letter-spacing: 1px;
    padding-top: 30px;
    color: #fff;
    font-weight: 400;
	font-size: 12px;
}

.footer-text h6 {
    margin-bottom: 10px;
}

.footer-text p span {
    color: #000;
}

.footer-text p.mail {
    color: #635CDB;
}

.bg-main {
    background: #F4F8FB;
	padding-bottom: 70px;
}

.footer-widget a {
    color: #999;
}


  * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

.item {
  position: relative;
  
  overflow: hidden;
  
}
.item img {
  max-width: 100%;
  
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.item:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.policysection { text-align: left;}

/*Cookie Consent Begin*/
#cookieConsent {
    background-color: rgba(20,20,20,0.8);
    min-height: 26px;
    font-size: 14px;
    color: #ccc;
    line-height: 26px;
    padding: 8px 0 8px 30px;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 9999;
}
#cookieConsent a {
    color: #4B8EE7;
    text-decoration: none;
}
#closeCookieConsent {
    float: right;
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: -15px 0 0 0;
    font-weight: bold;
}
#closeCookieConsent:hover {
    color: #FFF;
}
#cookieConsent a.cookieConsentOK {
    background-color: #F1D600;
    color: #000;
    display: inline-block;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
    float: right;
    margin: 0 60px 0 10px;
}
#cookieConsent a.cookieConsentOK:hover {
    background-color: #E0C91F;
}
/*Cookie Consent End*/


}

#positions .container .row:nth-child(2) div .box { 
    height: 80px!important;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
}